@import '../../../assets/styels/vars.scss';




.card {
    width: 80%;
    border: 1px solid rgb(222, 222, 222);
    margin-bottom: 12px;
    border-radius: 8px;
    direction: rtl;


    .card__container {
        padding: 8px;

        .card__container__header {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .card__container__header__title {

                .card__container__header__title__desc {
                    font-style: 24px;
                    font-weight: 500;
                    color: $font-color;
                    direction: ltr;
                    cursor: pointer;
                    margin-left: 4px;
                }

                .card__container__header__title__type {
                    font-size: 14px;
                    font-weight: bold;

                }


                .complain {
                    color: rgb(187, 2, 2);
                }

                .service {
                    color: rgb(187, 156, 2);
                }

                .other {
                    color: rgb(26, 146, 226);
                }
            }

            .card__container__header__status {
                padding: 6px 6px;
                border-radius: 8px;
                font-size: 12px;
                color: white;
                background: #000;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            

        }

        .card__container__body {
            border-top: 1px dashed rgb(222, 222, 222);
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .card__container__body__desc {
                flex: 1 1;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 80%;
                white-space: break-spaces;
                max-height: 84px;
                overflow-y: auto;


            }

            /* width */
            ::-webkit-scrollbar {
                width: 4px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px $font-color;
                border-radius: 10px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #858585;
                ;
                border-radius: 10px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #858585;

            }

            .card__container__body__imgs {
                display: flex;

                .card__container__body__imgs__container {
                    border: 1px solid rgb(222, 222, 222);
                    padding: 4px;

                    .card__container__body__imgs__container__imgs {
                        width: fit-content;
                        height: auto;
                        display: flex;
                        align-items: center;

                        .card__container__body__imgs__container__imgs__img {
                            width: 100px;

                            &:last-child {
                                margin-right: 12px;

                            }
                        }
                    }
                }

                .card__container__body__imgs__viewunit {
                    font-size: 16px;
                    cursor: pointer;
                    color: $font-color;
                    font-weight: bold;
                }
            }
        }

        .card_container__btns {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}


