.deletePopup{
    width: 100%;
    direction: rtl;
    .deletePopup_container{
        
        .deletePopup_text_conatnier{
            display: flex;
            align-items: center;
            padding: 24px 24px;
            .deletePopup_text{
                color: #001833;
                font-size: 18px;
                text-transform: capitalize;
                font-weight: 400;
            }
            .deletePopup_name{
                color: #001833;
                font-size: 20px;
                text-transform: capitalize;
                font-weight: 700;
                margin-right: 4px;
            }
        }
      
        .deletePopup_buttons{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px 24px;
            border-top: 1px solid #C8C9CC;
        }
    }
}