.homepage {
    display: flex;
    position: relative;
    background: #f6f6f6a7;
    overflow-x: hidden;
    direction: rtl;
    
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.w-100 {
    width: 100%;
}
.pr-16{
    padding-right: 16px;
}
.pl-16{
    padding-left: 16px;
}
.pt-16{
    padding-top: 16px;
}
.pb-16{
    padding-bottom: 16px;
}


.pr-8{
    padding-right: 8px;
}
.pl-8{
    padding-left: 8px;
}
.pt-8{
    padding-top: 8px;
}
.pb-8{
    padding-bottom: 8px;
}


.mb-24{
    margin-bottom: 24px;
}
.p-16 {
    padding: 16px;
}
.pb-0{
    padding-bottom: 0;
}
.ml-24{
    margin-left: 24px;
}
.mr-24{
    margin-right: 24px;
}
.mt-8{
    margin-top: 8px;
}
.mb-8{
    margin-bottom: 8px;
}

.layout {
    margin-right: 256px;
    min-height: 100vh;
    max-width: -webkit-fill-available;
    padding: 25px 50px;
}

.form_container {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
}