.homepage{
    display: flex;
    position: relative;
    background: #f6f6f6a7;
}
.w-100{
    width: 100%;
}
.layout{
    margin-left: 200px;
}
.form_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}