.table_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    .table_container_paganation{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 12px;
    }
}

.genric_page{
   height: 100vh;
   direction: rtl;
}