.tickets_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    .tickets_item{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;
    }
}

.tickets_page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .table_container_paganation{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 12px;
    }
}