.home {
    padding: 25px 50px;

    .home_container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .home_container_cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
            width: 100%;
            margin-bottom: 24px;

        }

        .home_container_tables {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .home_container_item_tables {
                width: 100%;
                .home_container_tables_item_header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .home_container_tables_item_header_title {
                        color: #010B38;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                    }

                    .home_container_tables_item_header_btn {}
                }

                .home_container_tables_item_table {
                    margin-top: 8px;
                }
            }


        }

        .home_container_charts_table {
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 100%;

            .home_container_charts_table__chart {}

            .home_container_charts_table__table {}
        }
    }
}

.ml-12{
    margin-left: 12px;
}
.mr-12{
    margin-right: 12px;
}