.home {


    .home_container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .home_container_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
            width: 100%;

            .home_container_header__title {
                color: #010B38;
                text-align: right;
                font-size: 36px;
                font-weight: 700;
            }

            .home_container_header__icons {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .home_container_header__icons_lang {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    background: #FECBA1;
                    cursor: pointer;
                    color: #CA6510;
                    text-align: center;
                    /* Heading/H6 */
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }
        }

        .home_container_cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
            width: 100%;
            margin-bottom: 32px;

            @media screen and (max-width : 770px) {
                grid-template-columns: repeat(1, 1fr);
            }

        }

        .home_container_tables {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media screen and (max-width : 770px) {
                flex-direction: column;
                align-items: center;
            }


            .home_container_item_tables {
                width: 100%;

                @media screen and (max-width : 770px) {
                    margin-top: 24px;
                }

                .home_container_tables_item_header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .home_container_tables_item_header_title {
                        color: #010B38;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                    }

                    .home_container_tables_item_header_btn {}
                }

                .home_container_tables_item_table {
                    margin-top: 8px;
                }
            }


        }

        .home_container_charts_table {
            margin-bottom: 32px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 100%;

            @media screen and (max-width : 770px) {
                flex-direction: column;
                align-items: center;
            }

            .home_container_charts_table__chart {
                .home_container_charts_table__chart_header {
                    color: #010B38;

                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 8px;
                }

                .home_container_charts_table__chart_card_title {
                    color: rgba(1, 11, 56, 0.50);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    margin-bottom: 14px;
                    width: 100%;
                    text-align: center;
                }

                .home_container_charts_table__chart_card_footer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 14px;

                    .home_container_charts_table__chart_card_footer_txt {
                        color: rgba(1, 11, 56, 0.50);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .home_container_charts_table__table {}
        }

    }
}

.ml-12 {
    margin-left: 12px;
}

.mr-12 {
    margin-right: 12px;
}