@import '../../../assets/styels/vars.scss';

//create Form

.form {
    direction: rtl;

    .form__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #C8C9CC;
        padding: 16px 24px;

        .form__header_text {
            color: #001833;
            font-size: 36px;
            font-weight: 700;
        }

        .form__header_close {}

    }

    .form__input {
        .form__input__container {

            .form__input__container__checkbox_txt {
                color: #010B38;

                font-size: 18px;
                font-style: normal;
                font-weight: 700;
            }

            .form__input__container__label {
                color: $font-color;
                font-size: $paragraph-text;
                font-weight: bold;
            }

            .form__input__container__desc {
                color: gray;
                font-size: 14px;
                font-weight: 400;
            }

            .form__input__container__input {
                height: 56px;
            }

            .form__input__container__warn {
                display: flex;
                flex-direction: column;
                height: 21px;
            }

            .form__input__container__uploadFile {
                text-align: center;
                cursor: pointer;
                border: none;
                width: 27%;
                padding: 0;
                padding-top: 4px;
            }

            .form__input__container__image {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
            }

            .form__input__container__image__remove {
                color: red;
                font-style: 14px;
            }
        }

        .form__input__container__colorpicker {
            display: flex;
        }

    }

    .form__input__flex {
        display: flex;
        padding: 0px 24px;
        gap: 24px;

        .form__input__flex_text {
            color: #000;

            /* ازرار/18 */
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            /* 177.778% */
        }

        .form__input__flex_text_add_btn {
            border-radius: 8px;
            border: #C8C9CC;
            background: #FFF;
        }

        .form__input__flex_fileUpload {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px;
            width: 100%;
            border: 1px solid #E0E0E0;
            border-radius: 12px;
            margin-bottom: 24px;
            position: relative;

            .form__input__flex_fileUpload_text {
                color: #E0E0E0;
                text-align: center;
                width: 100%;
                font-size: 16px;
                font-weight: 700;
                line-height: 32px;
                /* 200% */
            }

            .form__input__flex_fileUpload_desc {
                color: #E0E0E0;
                text-align: center;
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                line-height: 32px;
                /* 200% */
            }

            .form__input__flex_fileUpload_input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
            .form__input__flex_fileUpload_image{
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }


        .form__input__container {}
    }

    .form__btn__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        padding: 24px 24px;
        border-top: 1px solid #C8C9CC;

        .form__btn {
            padding: 6px 36px;
            background-color: $btn-color;
            color: $font-color;
        }

        .form__btn__delete {
            margin-left: 12px;
            border: 1px solid red !important;
            color: red !important;
            background-color: white;
        }
    }

    .from__card_plans {
        margin-top: 24px;
        padding: 0px 24px;

        .from__card_plans_title {
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 8px;
        }

        .from__card_plans_cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;

            .from__card_plans_cards_planCard {
                border-radius: 10px;
                border: 1px solid var(---1, rgba(1, 11, 56, 0.20));

                .from__card_plans_cards_planCard_contianer {
                    padding: 16px;

                    .from__card_plans_cards_planCard_contianer_img {
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 20px;
                        width: fit-content;
                    }

                    .from__card_plans_cards_planCard_contianer_name {
                        color: #010B38;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        margin-top: 8px;
                        margin-bottom: 8px;
                    }

                    .from__card_plans_cards_planCard_contianer_desc {
                        overflow: hidden;
                        color: rgba(1, 11, 56, 0.50);
                        text-overflow: ellipsis;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;

                    }
                }
            }
        }
    }

}


//edit form
.from__card {
    width: 70%;

    .form {
        direction: rtl;

        .form__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 32px;
            border-bottom: 1px solid #C8C9CC;
            padding: 16px 24px;

            .form__header_text {
                color: #001833;
                font-size: 36px;
                font-weight: 700;
            }

            .form__header_close {}

        }

        .form__input {

            .form__input__container {

                .form__input__container__label {
                    color: $font-color;
                    font-size: $paragraph-text;
                    font-weight: bold;
                }

                .form__input__container__desc {
                    color: gray;
                    font-size: 14px;
                    font-weight: 400;
                }

                .form__input__container__input {
                    height: 56px;

                }

                .form__input__container__warn {
                    display: flex;
                    flex-direction: column;
                    height: 21px;
                }

                .form__input__container__uploadFile {
                    text-align: center;
                    cursor: pointer;
                    border: none;
                    width: 12.5%;
                    padding: 0;
                    padding-top: 4px;
                }

                .form__input__container__image {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                }

                .form__input__container__image__remove {
                    color: red;
                    font-style: 14px;
                }
            }

            .form__input__container__colorpicker {
                display: flex;
                border: 1px solid;
                border-color: inherit;
                padding: 6px;
                border-radius: 0.375rem;
            }
        }

        .form__input__flex {
            display: flex;
            padding: 0px 24px;
            gap: 24px;


            .form__input__container {}
        }


        .form__btn__container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 24px;
            padding: 24px 24px;
            border-top: 1px solid #C8C9CC;

            .form__btn {
                padding: 6px 36px;
                background-color: $btn-color;
                color: $font-color;
            }

            .form__btn__delete {
                margin-left: 12px;
                border: 1px solid red !important;
                color: red !important;
                background-color: white;
            }
        }

        .from__card_plans {}
    }
}

.from__card__full {
    width: 100%;
}

.hr_style {
    margin-bottom: 40px;
}

.rtl {
    direction: rtl;
}