@import '../../../assets/styels/vars.scss';

.sidebar {
    background-color: #194C81;
    width: 256px;
    min-width: 256px;
    position: fixed;
    direction: rtl;
    height: 100%;

    @media screen and (max-width:768px) {
        min-width: 20%;
    }


    @media screen and (max-width:426px) {
        min-height: 100vh;
        background-color: #F1F2F7;
        width: 20%;
        /* min-width: 100%; */
        position: absolute;
        z-index: 7;
        min-width: 55%;
        height: 100%;
    }

    @media screen and (max-width:321px) {
        min-width: 66%;
    }

    &.non-display {
        display: none;
    }

    .sidebar__container {
        padding: 32px 24px 24px 24px;
        height: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
        .sidebar__logo {
            padding-bottom: 20px;
            border-bottom: 1px solid #C8CBD9;
            display: flex;

            @media screen and (max-width:768px) {
                padding-left: 20px;
            }

            @media screen and (max-width:426px) {
                display: flex;
                align-items: center;
            }

            .sidebar__logo__container {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #EFF9FF;
                width: fit-content;
                padding: 8px;
                border-radius: 15px;

                .sidebar__logo__img {
                    height: auto;
                    max-height: 75px;
                    max-width: 75px;
                    cursor: pointer;
                }

                .sidebar__logo__text {
                    margin-left: 16px;
                    font-weight: bold;
                    color: $font-color;
                }
            }



            .sidebar__logo__closeicon {

                margin-left: 17px;
                /* margin-top: 0px; */
                margin-bottom: 4px;

                @media screen and (max-width:376px) {
                    margin-bottom: 3px;
                }

                @media screen and (max-width:321px) {
                    margin-left: 35px;
                }

                .sidebar__logo__closeicon__img {
                    cursor: pointer;
                    width: 20px;

                    @media screen and (max-width:321px) {
                        width: 18px;
                    }
                }
            }

        }

        .sidebar__items {
            height: 100%;
            .sidebar__items__container {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                .sidebar__items__container__item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 10px 12px;
                    margin-bottom: 0;
                    margin-top: 20px;
                    border-radius: 10px;

                    &:hover {
                       
                        .sidebar__items__container__item__text:not(.active){
                            font-weight: 700;
                             transition: 0.1s all;
                        }
                    }

                    .sidebar__items__container__item__icon {

                        @media screen and (max-width:768px) {}

                        .sidebar__items__container__item__icon__img {
                            height: 18px;
                            width: 18px;

                            @media screen and (max-width:768px) {
                                height: 18px;
                                width: 18px;
                            }
                        }

                    }

                    .sidebar__items__container__item__text {
                        color: #EFF9FF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        padding-right: 12px;

                        @media screen and (max-width:768px) {
                            font-size: 14px;
                        }

                    }
                }

                .sidebar__items__container_nested {
                    margin-right: 10%;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    margin-top: 4px;

                    .sidebar__items__container_nested__item {
                        color: #EFF9FF;
                        margin-bottom: 4px;
                        padding: 8px;

                        &:hover {
                            transition: 0.1s all;
                            font-weight: 500;
                        }
                    }

                    .nested_active {
                        font-weight: 500;
                        color: #194C81;
                        border-radius: 10px;
                        background-color: #EFF9FF;
                        padding: 8px;

                    }
                }

                .active {
                    margin-bottom: 8px;
                    margin-top: 20px;
                    border-radius: 10px;
                    padding: 10px 12px;
                    background-color: #EFF9FF;
                    .sidebar__items__container__item__text{
                        color: #194C81;
                    }
                }
            }
            .sidebar__items_hr{
                margin-top: 24px;
                margin-bottom: 24px;
            }
            .sidebar_structure{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
            }
        }
    }
}

.menu-icon {

    left: 36px;
    position: absolute;
    top: 0.95%;
    z-index: 6;

    @media screen and (max-width:376px) {
        top: 0.97%;
    }

    @media screen and (max-width:321px) {
        top: 0.88%;
    }

    .menu-icon-img {
        cursor: pointer;
        width: 20px;

    }
}