@import '../../../assets/styels/vars.scss';

.tabel_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tabel_header_text {
        color: $font-color;
        font-size: $header-text;
        font-weight: bold;
    }

    .tabel_header_addBtn {
        display: flex;

        .tabel_header_addBtn_btn {
            color: $font-color;
        }

    }
}

.table {
    overflow: scroll !important;

    .table_header {
        background-color: #EDEEF2;

        .table_header_item {
            padding: 24px;
            font-size: large;
            color: #010B38;
        }
    }

    .table_body {
        .table_body_row {
            padding: 8px;


            &:hover {
                background-color: #EFF9FF;
                transition: 0.1s all;
                cursor: pointer;

                .table_body_row_item_btns{
                    opacity: 1;
                }

            }

            .table_body_row_item {
                font-size: medium;
            }

            .table_body_row_item_btns {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: 0px;
                opacity: 0;
                .table_body_row_item_btns_deletebtn{
                    &:hover{
                        cursor: pointer;
                        background-color: #CC3636 !important;
                    }
                }
                .table_body_row_item_btns_editbtn{
                    &:hover{
                        cursor: pointer;
                        background-color: #194C81 !important;
                    }
                }
            }
        }

    }
}